*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  max-width: 1366px;
  background: #282C33;
  margin: auto;
  /* padding: 0 30px; */
  color: #FFFFFF;
}

